<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS BOOSTRAP 4.0 -->
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet prefetch"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css"
    />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- Custom css-->
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>Home</title>
  </head>

  <body>
    <%- include("partials/navbar") %>
    <!-- Fixed top navbar -->

    <section id="main_page">
      <!-- END: Fixed top navbar -->
      <div class="main-container">
        <!-- Profile background large image -->
        <!-- <div class="row profile-background"> -->
        <div class="container">
          <!-- User main avatar -->
          <div class="avatar-container">
            <div class="avatar">
              <!-- <img src="<%= user.image %>" alt="" /> -->
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar profile-stats">
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-6">
              <ul>
                <li class="profile-stats-item-active">
                  <a>
                    <span class="profile-stats-item profile-stats-item-label"
                      >Tweets</span
                    >
                    <span
                      class="profile-stats-item profile-stats-item-number"
                    ></span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="profile-stats-item profile-stats-item-label"
                      >Following</span
                    >
                    <span
                      class="profile-stats-item profile-stats-item-number"
                    ></span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="profile-stats-item profile-stats-item-label"
                      >Followers</span
                    >
                    <span
                      class="profile-stats-item profile-stats-item-number"
                    ></span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="profile-stats-item profile-stats-item-label"
                      >Likes</span
                    >
                    <span
                      class="profile-stats-item profile-stats-item-number"
                    ></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </nav>

      <div class="container main-content">
        <div class="row">
          <div class="col profile-col">
            <!-- Left column -->
            <div class="profile-header">
              <!-- Header information -->
              <h3 class="profile-fullname">
                <a><%= user.firstName %> <%= user.lastName %></a>
              </h3>
              <a href="/editProfile">Editar perfil</a>
              <h2 class="profile-element"><a>@<%= user.userName %> </a></h2>
              <h2 class="profile-element"><a> <%= user.bio %> </a></h2>
              <!-- <a class="profile-element profile-website" hrerf=""
              ><i class="octicon octicon-link"></i>&nbsp; <%= user.bio %>
            </a> -->

              <a class="profile-element profile-website" hrerf=""
                ><i class="octicon octicon-location"></i>&nbsp;Montevideo,
                Uruguay</a
              >
              <h2 class="profile-element">
                <i class="octicon octicon-calendar"></i>Creado: <%=
                user.createdAt.toDateString() %>
              </h2>
              <button class="btn btn-search-bar tweet-to-btn">
                Tweet to <%= user.firstName %> <%= user.lastName %>
              </button>
            </div>
          </div>
          <!-- End; Left column -->
          <!-- Center content column -->
          <div class="col-6">
            <ol class="tweet-list">
              <% arrayDeTweet.forEach(item=>{ %>
              <li class="tweet-card">
                <div class="tweet-content">
                  <div class="tweet-header">
                    <span class="fullname">
                      <strong
                        ><%= item.firstName %> <%= item.lastName %></strong
                      >
                    </span>
                    <span class="username">@<%= item.userName %></span>
                    <span class="tweet-time"
                      ><%= item.tweetDate.toDateString() %></span
                    >
                  </div>
                  <a>
                    <img
                      class="tweet-card-avatar"
                      src="<%= item.image %>"
                      alt="profile pic"
                    />
                  </a>
                  <div class="tweet-text">
                    <p class="" lang="es" data-aria-label-part="0">
                      <%= item.tweet %>
                    </p>
                  </div>
                  <div class="tweet-footer">
                    <a class="tweet-footer-btn">
                      <i class="octicon octicon-comment" aria-hidden="true"></i
                      ><span> 18</span>
                    </a>
                    <a class="tweet-footer-btn">
                      <i class="octicon octicon-sync" aria-hidden="true"></i
                      ><span> 64</span>
                    </a>

                    <form action="/like" method="POST">
                      <input
                        type="hidden"
                        name="tweetId"
                        value="<%= item._id %>"
                      />
                      <button class="tweet-footer-btn" type="submit">
                        <i class="octicon octicon-heart" aria-hidden="true"></i
                        ><span><%= item.likes %> </span>
                      </button>
                    </form>
                    <a class="tweet-footer-btn">
                      <i class="octicon octicon-mail" aria-hidden="true"></i
                      ><span> 155</span>
                    </a>
                  </div>
                </div>
              </li>
              <% }); %>
            </ol>
            <!-- End: tweet list -->
          </div>
          <!-- End: Center content column -->
          <div class="col right-col">
            <div class="content-panel">
              <div class="panel-header">
                <h4>Who to follow</h4>
                <!-- <small> <a href="">Refresh</a></small><small><a href="">View all</a> 
            </small>  -->
              </div>
              <!-- Who to Follow panel -->
              <div class="panel-content">
                <!--Follow list -->
                <ol class="tweet-list">
                  <li class="tweet-card">
                    <div class="tweet-content">
                      <img
                        class="tweet-card-avatar"
                        src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg"
                        alt=""
                      />
                      <div class="tweet-header">
                        <span class="fullname">
                          <strong>Jon Vadillo</strong>
                        </span>
                        <span class="username">@JonVadillo</span>
                      </div>

                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </li>
                  <li class="tweet-card">
                    <div class="tweet-content">
                      <img
                        class="tweet-card-avatar"
                        src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg"
                        alt=""
                      />
                      <div class="tweet-header">
                        <span class="fullname">
                          <strong>Jon Vadillo</strong>
                        </span>
                        <span class="username">@JonVadillo</span>
                      </div>

                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </li>
                  <li class="tweet-card">
                    <div class="tweet-content">
                      <img
                        class="tweet-card-avatar"
                        src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg"
                        alt=""
                      />
                      <div class="tweet-header">
                        <span class="fullname">
                          <strong>Jon Vadillo</strong>
                        </span>
                        <span class="username">@JonVadillo</span>
                      </div>

                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </li>
                </ol>
                <!--END: Follow list -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("partials/footer") %>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>
