<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>

    <!-- Custom css-->
    <link rel="stylesheet" href="css/style.css" />
    <title>Twitter Clone</title>
  </head>

  <body>
    <%- include("partials/navbar") %>

    <div class="main-container">
      <!-- Profile background large image -->
      <div class="row profile-background">
        <div class="container">
          <!-- User main avatar -->
          <div class="avatar-container">
            <div class="avatar"></div>
          </div>
        </div>
      </div>

      <nav class="navbar profile-stats">
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-6">
              <%- include("partials/tweet/navBarTweet") %>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </nav>

      <div class="container main-content">
        <div class="row">
          <div class="col profile-col">
            <!-- Left column -->
            <div class="profile-header">
              <!-- Header information -->
              <%- include("partials/tweet/profileInfoTweet") %>

              <div class="pic-grid">
                <!-- Image grid -->
                <div class="row">
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DFCq7iTXkAADXE-.jpg:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DEoQ0vyXoBA1cwQ.png:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DDVbW4RXsAAasuw.jpg:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                </div>
                <!-- End: row -->
                <div class="row">
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DFCq7iTXkAADXE-.jpg:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DEoQ0vyXoBA1cwQ.png:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                  <div class="col pic-col">
                    <img
                      src="https://pbs.twimg.com/media/DDVbW4RXsAAasuw.jpg:thumb"
                      height="73px"
                      class=""
                    />
                  </div>
                </div>
                <!-- End: row -->
              </div>
              <!-- End: image grid -->
            </div>
          </div>
          <!-- End; Left column -->
          <!-- Center content column -->
          <div class="col-6">
            <ol class="tweet-list">
              <%- include("partials/tweet/singleTweet") %>
            </ol>
            <!-- End: tweet list -->
          </div>
          <!-- End: Center content column -->
          <div class="col right-col">
            <div class="content-panel">
              <div class="panel-header">
                <h4>Who to follow</h4>
                <small><a href="">Refresh</a></small
                ><small><a href="">View all</a></small>
              </div>
              <!-- Who to Follow panel -->
              <div class="panel-content">
                <!--Follow list -->
                <ol class="tweet-list">
                  <%- include("partials/tweet/usersToFollowTweet") %>
                </ol>
                <!--END: Follow list -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>
